<!-- nav bar -->
<div class="cl-md-12">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <h1>OMDB Search</h1>
      <div class=" navbar-brand collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav me-auto mb-2 mb-lg-0">
        </div>
        <form class="d-flex" role="search" [formGroup]="form" (ngSubmit)="getAllMovies()">
          <input class="form-control me-2" formControlName="movieName" type="search" placeholder="Search"
            aria-label="Search">
          <button class="btn btn-primary" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</div>
<div>

  <!-- movie not found massage -->
  <div *ngIf="movieNotFound">
    <div align="center" class="error-card border border-warning">
      <div class="align-middle">
        <h3>Movie not found!</h3>
      </div>
    </div>
  </div>

  <!-- show selected movie details -->
  <div *ngIf="showSelectedMovie">
    <mat-card class="example-card2">
      <mat-card-header>
        <mat-card-title-group>
          <img mat-card-xl-image src="{{img}}" style="width: 270px; height: 400px;">
          <div class="m-4">
            <h1>{{Title}}</h1>
            <h6>Plot</h6>
            <p>{{Plot}}</p>
            <h6>Actors</h6>
            <p>{{Actors}}</p>
            <h6>Ratings</h6>
            <div *ngFor="let rating of Ratings">
              &nbsp;<p>-{{rating.Source}} : {{rating.Value}}</p>
            </div>
          </div>
        </mat-card-title-group>
      </mat-card-header>
    </mat-card>
  </div>
</div>

<!-- show all movies -->
<div class="container d-flex flex-wrap" *ngIf="movieList">
  <div *ngFor="let movie of movies">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title-group>
          <img mat-card-xl-image src="{{movie.Poster}}" style="width: 200px; height: 300px;">
          <h1 class="m-4">{{movie.Title}}</h1>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-actions align="end">
        <button class="m-2" mat-raised-button color="primary" (click)="getMovieByimdbID(movie)">Details</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>