  .example-card {
    width: 550px;
    margin-bottom: 8px;
  }

  .example-card2{
    width: 900px;
    margin-bottom: 12px;
    margin-top: 10px;
    margin-left: 150px;

  }

  .error-card{
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    background-color: rgb(255, 164, 164);
    padding: 20px;
  }